<div>
  <div>
    <span>Product List</span>
    <a routerLink='/products/create'>Create New</a>
  </div>
  <h1 class='centered'>
      <span>Products</span>
  </h1>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Vendor</td>
        <td>PartNumber</td>
        <td>Name</td>
        <td>Price</td>
        <td>Unit</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody *ngIf='products'>
      <tr *ngFor='let product of products'>
          <td>{{ product.id }}</td>
          <td>{{ product.vendor.name }}</td>
          <td>{{ product.partNumber }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.unit }}</td>
          <td>
            <a routerLink='/products/detail/{{ product.id }}'>Detail</a>
            | <a routerLink='/products/edit/{{ product.id }}'>Edit</a>
          </td>
      </tr>
  </tbody>
  </table>
</div>
