<div>
  <div>
    <span>Request List</span>
    <a routerLink='/requests/create'>Create New</a>
  </div>
  <h1 class="centered">
  <span>Purchase Requests</span><span  *ngIf="this.syssvc.user.reviewer"> | <a routerLink='/requests/review'>Review</a></span>
</h1>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Justification</td>
        <td>Total</td>
        <td>Date Needed</td>
        <td>Status</td>
        <td>Action</td>
        <td *ngIf='user.admin'>Approve</td>
        <td *ngIf='user.admin'>Reject</td>
      </tr>
    </thead>
    <tbody *ngIf='requests'>
      <tr *ngFor='let request of requests'>
          <td>{{ request.id }}</td>
          <td>{{ request.user.firstName }} {{ request.user.lastName }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.justification }}</td>
          <td>{{ request.total | currency }}</td>
          <td>{{ request.dateNeeded | date }}</td>
          <td>{{ request.status }}</td>
          <td>
            <a routerLink='/lineitems/list/{{ request.id }}'>Lines</a>
            <span *ngIf='this.syssvc.user.id===request.user.id'> | <a routerLink='/requests/detail/{{ request.id }}'>Detail</a> | </span>
            <span *ngIf='this.syssvc.user.id===request.user.id'><a routerLink='/requests/edit/{{ request.id }}'>Edit</a></span>
          </td>
          <td *ngIf='user.admin'>
            <button (click)='approve(request)' class='btn btn-success'>Approve</button>
          </td>
          <td *ngIf='user.admin'>
            <button (click)='reject(request)' class='btn btn-danger'>Reject</button>
          </td>
      </tr>
  </tbody>
  </table>
</div>
