<div>
  <div>
    <span>Request List</span>
    <a routerLink='/requests/create'>Create New</a>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td>Justification</td>
        <td>Total</td>
        <td>Date Needed</td>
        <td>Status</td>
        <td>Action</td>
        <td *ngIf='user.admin'>Reviewer</td>
      </tr>
    </thead>
    <tbody *ngIf='requests'>
      <tr *ngFor='let request of requests'>
          <td>{{ request.id }}</td>
          <td>{{ request.user.firstName }} {{ request.user.lastName }}</td>
          <td>{{ request.description }}</td>
          <td>{{ request.justification }}</td>
          <td>{{ request.total | currency }}</td>
          <td>{{ request.dateNeeded | date }}</td>
          <td>{{ request.status }}</td>
          <td>
            <a routerLink='/requests/detail/{{ request.id }}'>Detail</a>
            | <a routerLink='/requests/edit/{{ request.id }}'>Edit</a>
            | <a routerLink='/lineitems/list/{{ request.id }}'>Lines</a>
          </td>
          <td *ngIf='user.admin'>
            <button (click)='approve()' class='btn btn-primary'>Approve</button>
            <button (click)='reject()' class='btn btn-danger'>Reject</button>
          </td>
      </tr>
  </tbody>
  </table>
</div>
